doctype html
html
  head(lang='en')
    meta(charset='UTF-8')  
    title speakeasy 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // styles  
    link(rel='stylesheet', type='text/css', href="{{ url_for('static', filename='styles/main.css') }}")

  body

    // scripts
    script(src="{{ url_for('static', filename='vendor/react/react.min.js') }}")
    script(src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}")
    script(src="{{ url_for('static', filename='scripts/speechRecognition.js') }}")
    script(src="{{ url_for('static', filename='scripts/index.js') }}")
