doctype html
html
  head(lang='en')
    meta(charset='UTF-8')  
    title speakeasy 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // styles  
    | {% for import in CSS_IMPORTS %}
    link(rel='stylesheet', type='text/css', href="{{import}}")
    | {% endfor %}

  body
    div(id='react-app')

    // scripts
    | {% for import in JS_IMPORTS %}
    script(src="{{import}}")
    | {% endfor %}
